{
  "mcpServers": {
    "atlassian": {
      "type": "sse",
      "url": "https://user.com/v1/mcp"
    },
    "Figma": {
      "url": "https://user.com/mcp"
    },
    "github": {
      "url": "https://user.com/mcp/",
      "headers": {
        "Authorization": "github_pat_YOUR_TOKEN_HERE"
      }
    }
  }
}
